<!DOCTYPE html>
<html lang="en">
</head>
						
  <div class="row">
    <div class="col-md-5">    
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title panel-title-style"><center>Ready to Eat</center></h3>
        </div>
        <div class="panel-body panel-style">
          <table class="table burger-table">
            <tbody>
              {{#each burgers}}
                {{#unless devoured}}
                  <tr>   
                    <td>{{this.id}}.  {{this.burger_name}} </td> 
                    <td><form action="/update/{{this.id}}?_method=PUT" method="POST"> 
                    <button type="submit" class="btn btn-primary btn-xs">Devour</button>
                    </form></td>
                  </tr>
                {{/unless}}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-offset-1">    
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title panel-title-style"><center>Devoured</center></h3>
          </div>
          <div class="panel-body panel-style">
            <ul>
              {{#each burgers}}
                {{#if devoured}}
                  <p> {{id}}. {{burger_name}} </p>
                {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>